.contacts {
  padding-top: 30px;
  padding-bottom: 50px;

  &__container {
    @include flex-center-column;
  }

  &__address {
    @include flex-all-sb;

    width: 100%;
    // margin-bottom: 30px;

    @include tablet {
      @include flex-center-column;

      row-gap: 20px;
    }
  }

  &__wrapper {
    @include flex;
  }


  &__icon {
    margin-right: 10px;
    border-radius: 50%;

    svg {
      width: 24px;
      height: 24px;
      fill: var(--light-color);
    }
  }

  &__phone-content {
    @include flex-center-column;
  }

  &__caption {
    margin-bottom: 10px;
  }

  &__link {
    color: var(--light-color);
    font-style: normal;
  }

  &__link:not(:last-child) {
    margin-bottom: 10px;
  }


}