.link {
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color .3s ease;

  &__text {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -6px;
    bottom: -3px;
    left: -6px;
    background-color: var(--green);
    transform: scaleX(0);
    transition: transform .3s ease;
  }

  &:focus {
    outline: none;
  }

  &:focus:not(:hover):not(:active)::before {
    transform: scaleX(1);
  }

  &:hover {
    color: var(--bright-yellow);
  }

  &:active {
    color: var(--dark-green);
    transition: none;
  }

  &:focus:not(:hover):not(:active)::before {
    transform: scaleX(1);
  }
}