.maps {
  padding-top: 30px;
  padding-bottom: 50px;
  // background-color: var(--light-grey);
}

.map {
  width: 100%;
  height: 500px;
}

[class*="copyrights-pane"] {
  display: none !important;
}

// [class*="ground-pane"] {
//   filter: grayscale(1);
// }