.nav {
  &__list {
    @include flex-v-center;
    flex-wrap: wrap;

    @include tablet {
      @include flex-column-start;
      gap: 15px;
      margin-bottom: 25px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__item {
    @include tablet {
      display: flex;
      margin-right: 25px;
    }
  }


  &__link {
    font-size: 18px;
    color: var(--light-color);

    @include tablet {
      font-size: 22px;
    }
  }
}

.nav__link--time {
  font-size: 44px;
  color: var(--bright-yellow);
}