<div class="about">
  <div class="container about__container">
    <h1 class="title">Здравствуйте дорогие автовладельцы!</h1>
    <p class="text text--start">Наша студия предоставляет такие услуги как:</p>
    <p class="text"><span class="text-upper">тонирование</span>, <span class="text-upper">бронирование</span>, оклейка цветными пленками, винилография, антихром, шумоизоляция, автозвук, оклейка солона (альконтарой), атермальные пленки, ремонт сколов и трещин на лобовых стеклах, <span class="text-upper">подберем пленку</span> под каждого <span class="text-upper">клиента!</span></p>
    <button class="btn about__btn btn-reset">Позвонить нам</button>
  </div>
</div>