<div class="about">
  <div class="container about__container">
    <h3 class="text text--start">Наша студия предоставляет такие услуги как:</h3>
    <ul class="list-services list-reset">
      <li class="list-services__item">
        <a class="list-services__link link" href="#"><span class="link__text">тонирование</span></a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link link" href="#"><span class="link__text">бронирование</span></a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link link" href="#"><span class="link__text">оклейка цветными пленками</span></a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link link" href="#"><span class="link__text">винилография</span></a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link link" href="#"><span class="link__text">антихром</span></a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link link" href="#"><span class="link__text">шумоизоляция</span></a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link link" href="#"><span class="link__text">автозвук</span></a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link link" href="#"><span class="link__text">оклейка солона (альконтарой)</span></a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link link" href="#"><span class="link__text">атермальные пленки</span></a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link link" href="#"><span class="link__text">ремонт сколов и трещин на лобовых стеклах</span></a>
      </li>
    </ul>
    <div class="about__contacts">
      <!-- <span class="text-upper">подберем пленку</span> под каждого <span class="text-upper">клиента!</span> -->
      <p class="about__text">Подберем пленку под каждого клиента!</p>
      <a class="btn about__btn btn-reset" href="tel:+79804767246">Позвонить нам</a>
    </div>
  </div>
</div>