<section class="contacts">
  <div class="container contacts__container">
    <h2 class="caption">Контакты</h2>
    <address class="contacts__address">
      <div class="contacts__wrapper">
        <div class="contacts__icon">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
        </div>
        <div class="contacts__phone-content">
          <span class="contacts__caption">Телефон</span>
          <a class="contacts__link" href="tel:+79804767246">+7 980 476 72 46</a>
          <a class="contacts__link" href="tel:+79859437936">+7 985 943 79 36</a>
        </div>
      </div>

      <div class="contacts__wrapper">
        <div class="contacts__icon">
          <svg>
            <use xlink:href="img/sprite.svg#address"></use>
          </svg>
        </div>
        <span class="contacts__street-text">2-й Фабричный проезд, 16, Пушкино, Московская область</span>
      </div>

      <ul class="social list-reset">
        <li class="social__item">
          <a class="social__link" href="https://wa.me/79804767246" target="_blank" aria-label="Наша страничка в Ватсап">
            <svg>
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://telegram.me/+79804767246" target="_blank" aria-label="Наша страничка в Телеграмм">
            <svg>
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://vk.com/bunkerskpuschkino" target="_blank" aria-label="Наша страничка в Вконтакте">
            <svg>
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
</section>