<footer class="footer">
  <div class="container footer__container">


    <nav class="nav footer__nav-list">
      <ul class="list-reset nav__list nav__list--footer">
        <li class="nav__item nav__item--footer nav__item--none">
          <a class="nav__link" href="#">Главная</a>
        </li>
        <li class="nav__item nav__item--footer">
          <a class="nav__link" href="#">Услуги</a>
        </li>
        <li class="nav__item nav__item--footer">
          <a class="nav__link" href="#">Плёнки</a>
        </li>
        <li class="nav__item nav__item--footer">
          <a class="nav__link" href="#">Наши работы</a>
        </li>
        <li class="nav__item nav__item--footer">
          <a class="nav__link" href="#contacts">Контакты</a>
        </li>
      </ul>
    </nav>

    <div class="footer__wrapper">
      <div class="contacts__phone-content">
        <span class="contacts__caption">Телефон</span>
        <a class="contacts__link" href="tel:+79804767246">+7 980 476 72 46</a>
        <a class="contacts__link" href="tel:+79859437936">+7 925 148 49 89</a>
      </div>

      <ul class="social list-reset">
        <li class="social__item">
          <a class="social__link" href="https://wa.me/79804767246" aria-label="Наша страничка в Ватсап" target="_blank">
            <svg>
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://vk.com/id789530151" aria-label="Наша страничка в Вконтакте" target="_blank">
            <svg>
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <small class="footer__copyright">©&nbsp;2024 Все права защищены</small>
  </div>
</footer>