<header class="header" id="header">
  <div class="container header__container">
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>

    <a class="logo header__logo" href="#">
      <svg class="#">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>
    <div class="header__nav">
      <nav class="nav header__nav-list" data-menu>
        <ul class="list-reset nav__list">
          <li class="nav__item nav__item--none"><a class="nav__link" href="#header" data-menu-item>Главная</a></li>
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>Услуги</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>Плёнки</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#services" data-menu-item>Наши работы</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contacts" data-menu-item>Контакты</a>
          </li>
        </ul>
        <div class="header__wrap-consultation header__wrap-consultation--burger" data-burger>
          <a class="water-btn water-btn--burger" href="tel:+79804767246">
            <span class="water-btn__text">Консультация</span>
            <span class="water-btn__waves"></span>
          </a>
        </div>
      </nav>
    </div>
    <a class="water-btn" href="tel:+79804767246">
      <span class="water-btn__text">Консультация</span>
      <span class="water-btn__waves"></span>
    </a>
  </div>

</header>