<header class="header">
  <div class="container header__container">
    <a class="logo header__logo" href="#">
      <!-- <img src="img/logo2.svg" width="300" height="300" alt="Бункер-Тонирование и Бронированте"> -->
      <svg class="#">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>
    <div class="header__nav">
      <nav class="nav header__nav-list" data-menu>
        <ul class="list-reset nav__list">
          <li class="nav__item nav__item--none"><a class="nav__link" href="#">Главная</a></li>
          <li class="nav__item">
            <a class="nav__link" href="#">Наши услуги</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Наши работы</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="btn btn--header btn-reset">Консультация</button>

    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>

  </div>
</header>