<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Детейлинг Пушкино-KS BUNKER тонирование бронирование</title>
  <meta name="keywords" content="Детейлинг центр КС Бункер тонирование и бронирование. Детейлинг, автомобильный детейлинг, полировка автомобиля, химчистка салона, защитные покрытия">
  <meta name="description" content="Детейлинг центр КС Бункер тонирование и бронирование экспертный уход за вашим автомобилем. В работе мы использование только лучшие европейские проверенные временем материалы. Профессиональный детейлинг автомобилей: полировка, защитные покрытия, химчистка салона. Качественный уход за вашим автомобилем.">
  <meta name="yandex-verification" content="9fcc21cd2c4b2ba4" />
  <link rel="preload" href="fonts/NunitoSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/NunitoSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/NunitoSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/NunitoSans-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/NunitoSans-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Nextartbold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://api-maps.yandex.ru/2.1/?apikey=вашAPI-ключ&lang=ru_RU"></script>
  <script defer src="js/main.js"></script>
</head>