<section class="hero">
  <div class="container hero__container">
    <h1 class="title">Здравствуйте дорогие автовладельцы!</h1>
    <p class="title">
      На данный момент сайт находится в разработке и не все функции сайта работают, всю подробную информацию Вы можете узнать в разделе <a class="nav__link--time" href="#contacts">Контакты</a>
    </p>
    <picture>
      <source srcset="img/logo-hero.webp" type="image/webp">
      <img loading="lazy" src="img/logo-hero.jpg" class="image" width="2000" height="472" alt="Логотип BUNKER">
    </picture>
  </div>
</section>