<section class="services" id="services">
  <div class="container">
    <h2 class="caption caption--services">Наши работы</h2>

    <div class="services-slider swiper">
      <div class="services-slider__wrapper swiper-wrapper">
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-1.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-1.jpeg" loading="lazy" width="800" height="400" alt="Тонирование авто плёнкой">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-2.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-2.jpeg" loading="lazy" width="800" height="400" alt="Тонирование авто плёнкой">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-3.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-3.jpeg" loading="lazy" width="800" height="400" alt="Тонирование авто плёнкой">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-4.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-4.jpeg" loading="lazy" width="800" height="400" alt="Бронирование авто">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-5.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-5.jpeg" loading="lazy" width="800" height="400" alt="Тонирование фар">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-6.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-6.jpeg" loading="lazy" width="800" height="400" alt="Бронирование авто">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-7.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-7.jpeg" loading="lazy" width="800" height="400" alt="Бронирование авто">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-8.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-8.jpeg" loading="lazy" width="800" height="400" alt="Антихром авто">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-9.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-9.jpeg" loading="lazy" width="800" height="400" alt="Антихром фар">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-10.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-10.jpeg" loading="lazy" width="800" height="400" alt="Тонирование бронирование авто">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-11.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-11.jpeg" loading="lazy" width="800" height="400" alt="Тонирование бронирование авто">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-12.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-12.jpeg" loading="lazy" width="800" height="400" alt="Антихром авто">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-13.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-13.jpeg" loading="lazy" width="800" height="400" alt="Тонирование бронирование авто">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-14.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-14.jpeg" loading="lazy" width="800" height="400" alt="Полировка авто">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-15.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-15.jpeg" loading="lazy" width="800" height="400" alt="Тонирование авто">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-16.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-16.jpeg" loading="lazy" width="800" height="400" alt="Тонирование авто">
          </picture>
        </div>
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slide-17.webp" type="image/webp">
            <img class="services-slider__image" src="img/slide-17.jpeg" loading="lazy" width="800" height="400" alt="Тонирование авто">
          </picture>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>