<section class="services">
  <div class="container">
    <h2 class="caption">Наши работы</h2>

    <div class="services-slider swiper">

      <div class="services-slider__wrapper swiper-wrapper">
        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slad-1.webp" type="image/webp">
            <img class="services-slider__image" src="img/slad-1.jpeg" loading="lazy" width="800" height="400" alt="Обложка канала MaxGraph">
          </picture>
        </div>

        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slad-2.webp" type="image/webp">
            <img class="services-slider__image" src="img/slad-2.jpeg" loading="lazy" width="800" height="400" alt="Обложка канала MaxGraph">
          </picture>
        </div>

        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slad-3.webp" type="image/webp">
            <img class="services-slider__image" src="img/slad-3.jpeg" loading="lazy" width="800" height="400" alt="Обложка канала MaxGraph">
          </picture>
        </div>

        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slad-4.webp" type="image/webp">
            <img class="services-slider__image" src="img/slad-4.jpeg" loading="lazy" width="800" height="400" alt="Обложка канала MaxGraph">
          </picture>
        </div>

        <div class="services-slider__slide swiper-slide">
          <picture>
            <source srcset="img/slad-4.webp" type="image/webp">
            <img class="services-slider__image" src="img/slad-4.jpeg" loading="lazy"  width="800" height="400" alt="Обложка канала MaxGraph">
          </picture>
        </div>
      </div>

      <!-- Пагинация (точки) -->
      <div class="swiper-pagination"></div>

      <!-- Кнопки навигации -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

    </div>

  </div>
</section>